h1, h3 {
    margin: 0;
}
label {
    font-size: 1.2vw;
}
.main-container-contact {
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    position: relative;
    right: 0;
    height: 100vh;
}

.text-container-contact {
    margin-top: 2vw;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:start;
    height: 100%;
}

.text-container-contact h1{
    font-size: 4.7vw;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 200;
}

.text-container-contact h3{
    font-size: 2.1vw;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 26px;
    font-weight: 200;
}

.bl-form {
    display: grid;
    grid-template-areas: "a b c"
                            "d d d"
                            "e e e"
                            "e e e"
                            "f f f";
    column-gap: 2vw;
    row-gap: 1vw;
}

.input-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 5vw;
    justify-content: space-between;
}
.top-input {
    height: 3vw;
    width: 17vw;
    border-radius: 5px;
    font-size: 1.5vw;
}

#nameDiv {
    grid-area: a;
}

#phoneDiv {
    grid-area: b;
}

#mailDiv {
    grid-area: c;
}

#subjectDiv {
    grid-area: d; 
}
#subjectDiv input {
    width: 56vw;
}
#contentDiv {
    grid-area: e;
    height: 17.5vw;
}
.content-input {
    width: 56vw;
    height: 15vw;
    resize: none;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

#submitDiv {
    grid-area: f;
    position: relative;
}

.bl-send-btn {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 3vw;
    width: 10vw;
    font-size: 1.5vw;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    label {
        font-size: 3.5vw;
    }
    .main-container-contact {
        margin: 0 0 0;
        justify-content: flex-start;
        height: 87vh;
        overflow: hidden;
    }
    .text-container-contact {
        height: 60vh;
        justify-content: flex-start;
        margin-top: 5vh;
    }
    .text-container-contact h1 {
        font-size: 9.7vw;
        text-align: left;

    }
    .text-container-contact h3 {
        font-size: 5vw;
    }
    .bl-form {
        display: flex;
        flex-direction: column;
    }
    .input-div {
        height: 15vw;
        justify-content: flex-end;
    }
    .top-input {
        height: 7.5vw;
        width: 100%;
        border-radius: 10px;
        font-size: 5vw;
    }
    #subjectDiv input {
        width: 100%;
    }
    #contentDiv {
        height: 30vw;
    }
    .content-input {
        width: 100%;
        height: 23vw;
        resize: none;
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: textfield;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        cursor: text;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }
    #submitDiv {
        margin-top: 5vw;
    }
    .bl-send-btn {
        margin: 0 auto;
        height: 12vw;
        width: 50%;
        font-size: 4.2vw;
    }
}

.lds-dual-ring {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 20vw;
    height: 20vw;
    margin: 8px;
    border-radius: 50%;
    border: 3vw solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.9s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  