h1, h3 {
    margin: 0;
}

.giant-face{
    position:absolute;
    width: 40vw;
    object-fit: contain;
    opacity: 0.3;
    top: 20px;
    left: 45vw;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: -1;
}

.text-container-home {
    width: 70%;
}

.text-container-home h1{
    font-size: 4.7vw;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 200;
}

.text-container-home h3{
    font-size: 2.1vw;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 26px;
    font-weight: 200;
}
.talk-btn-home {
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 66px;
    border-radius: 20px;
    
}
.talk-btn-home h3{
    margin: 0;
    font-size: 30px;
}
 a{
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 768px) {

    .text-container-home {
        width: 90%;
        height: 80vh;
        justify-content: flex-start;
        margin-top: 10vw;
        
    }
    .text-container-home h1 {
        font-size: 9.7vw;

    }
    .text-container-home h3 {
        font-size: 4.1vw;
    }
    .talk-btn-home {
        width: 135px;
        height: 37px;
    }
    .giant-face {
        height: 50vh;
        width: 90vw;
        top: 25vh;
        left: 9vw;
    }
}
