h1, h3 {
    margin: 0;
}
.mobBr {
    display: none;
}


.text-container-about {
    width: 90%;
}

.text-container-about h1{
    font-size: 4.7vw;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 200;
}

.text-container-about h3{
    font-size: 2.1vw;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 26px;
    font-weight: 200;
    text-align: left;
}
.flex-container-about {
    display: flex;
}
.flex-text-about {
    display: flex;
    flex-direction: column;
    background-color: rgb(229 229 229);
    justify-content: start;
    align-items: center;
    border-radius: 31px;
    width: 21vw;
    height: 15vw;
    text-align: center;
    margin-right: 2vw;
}

.flex-text-about .lang {
    margin: 3vw auto 1vw auto;
    text-align: center;
    font-size: 1.7vw;
}
.flex-text-about h3 {
    text-align: center;
    font-size: 1.7vw;
}
@media only screen and (max-width: 768px) {
    .deskBr {
        display: none;
    }

    .mobBr {
        display: unset;
    }
    .main-container-about {
        margin: 0 0 0;
        justify-content: flex-start;
        height: 87vh;
        overflow: auto;
    }
    .text-container-about {
        height: 60vh;
        justify-content: flex-start;
        margin-top: 10vh;
    }
    .text-container-about h1 {
        font-size: 9.7vw;

    }
    .text-container-about h3 {
        font-size: 5vw;
    }
    .flex-text-about {
        width: 90vw;
        height: 30vw;
        margin: 3vw auto;
    }
    .flex-text-about .lang {
        font-size: 5vw;
        margin: 4vw auto 4vw auto;
    }
    .flex-container-about {
        flex-direction: column;
    }
}